<%= erb :nav %>
<section class="intro-section">
  <div class="container">
<h3>Create A New Book</h3>
<form action="/books" method="POST">
  <input type="text" class="form-control" name="title" placeholder="Title">
  <input type="text" class="form-control" name="authors" placeholder="Author">
  <input type="text" class="form-control" name="publisher" placeholder="Publisher">
  <input type="text" class="form-control" name="year" placeholder="Year">
  <br><br>
  <input type="submit" class="btn btn-primary" value="submit">
</form>
<% unless locals.empty? %>
  <div class="alert alert-danger">
  <%= message %>
<% end %>
  </div>

  </div>
</section>
